<div class="container mt-4">
    <div class="d-flex flex-column align-items-center">
        <button class="btn btn-outline-dark m-2 custom-btn" (click)="sendMsg({checkkingIn: true})">
            <i class="fa-solid fa-right-to-bracket"></i> <span>Pointage</span>
        </button>
        <button class="btn btn-outline-dark m-2 custom-btn" (click)="sendMsg({checkkingIn: false})" style="background-color: #e77777;">
            <i class="fa-solid fa-right-from-bracket"></i> <span>Depointage</span>
        </button>
    </div>
</div>